@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4c838b, #528a91, #7AE5F5, #4c838b, #97EBF4);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cute Font', cursive;
  font-size: 4.8rem;
  font-weight: 800;
  font-style: bold;
  color: #FFFAFA;
  text-shadow: 4px 4px 2px #064b52;
  margin-bottom: 20px;
}

p {
  font-family: 'Cute Font', cursive;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: 500;
  color: #05182c;
  max-width: 1200px;
  line-height: 1.6;
  padding: 0 20px;
  margin: 0 auto 30px auto;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}



.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.side-image {
  width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
}

h2 {
  font-family: 'Cute Font', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFAFA;
  text-shadow: 3px 3px 2px #064b52;
  margin-bottom: 15px;
}